<%= @recipe.name %>
<%= @recipe.ingredients %>
<%= @recipe.cook_time %>
<p>"/recipes/<%=@recipe.id%>/delete"</p>
<input id="hidden" type="hidden" name="_method" value="delete">

<form method="post" action="/recipes/<%= @recipe.id %>/delete">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="delete">
</form>
